<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png?v=vMrJd8e5Py">
<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png?v=vMrJd8e5Py" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png?v=vMrJd8e5Py" sizes="16x16">
<link rel="manifest" href="/assets/images/favicon/manifest.json?v=vMrJd8e5Py">
<link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg?v=vMrJd8e5Py" color="#5bbad5">
<link rel="shortcut icon" href="/assets/images/favicon/favicon.ico?v=vMrJd8e5Py">
<meta name="apple-mobile-web-app-title" content="Deepthi Anantha Kumar">
<meta name="application-name" content="Deepthi Anantha Kumar">
<meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml?v=vMrJd8e5Py">
<meta name="theme-color" content="#ffffff">